.btnBackToIndex {
  margin-top: 22px;
  background-color: var(--wom-purple);
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  transition: 0.2s;
}

.btnBackToIndex:hover {
  background-color: var(--wom-magenta);
}
